@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgb(254, 221, 88) 100%); 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    background-color: rgb(49, 47, 47);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    border: 5px solid hsl(0, 0%, 100%);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.7), 0px 0px 20px rgba(0,0,0,0.7);
}

.clock ul li {
    list-style: none;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    inset: 5px;
}

.clock ul li span {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

